.kopere-trail-table {
    background: #fff;
    border: 1px solid #dbe4ee;
}

.kopere-trail-table th {
    background: #f8fafc;
    color: #334155;
    font-size: .82rem;
    text-transform: uppercase;
}

.kopere-trail-table td,
.kopere-trail-table th {
    vertical-align: middle;
}

